{% extends "back/base.html.twig" %}

{% block title %}GestionAgeeBundle:Planning_visite_medicale:Afficher{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <style>

        .table {
            border: 2px solid #FFFFFF !important;

        }

        .table th {
            border: 2px solid #FFFFFF !important;
        }

        .table td {
            border: 2px solid #FFFFFF !important;
        }


        .table tbody > tr:hover {
            background-color: #2dde98;
        }

    </style>


    <br>
    <h1 style="text-align: center ; font-size: 30px">Planning des Traitements Médicaux</h1><br>

    <table class="table table-bordered" id="myTable">

        <thead style="background-color: #629aa9">
            <tr>
                <th>Nom Agee</th>
                <th>Prenom Agee</th>
                <th>CIN</th>
                <th>Nom Du Medicament</th>
                <th>Description Du traitement</th>
                <th>Durée du traitement (jour)</th>
                <th>Dejeuner</th>
                <th>Petit-Dejeuner</th>
                <th>Diner</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>

        {% for planning in plannings %}
            <tr>
                {#<td align=center>  {{ planning.id }} </td>#}
                <td align=center>  {{ planning.idAgee.nom }} </td>
                <td align=center>  {{ planning.idAgee.prenom }} </td>
                <td align=center>  {{ planning.idAgee.cin }} </td>
                <td align=center>  {{ planning.nomMedicament }} </td>
                <td align=center>  {{ planning.traitementDesc }} </td>
                <td align=center>  {{ planning.dureeEnJourDeTraitement }} </td>
                <td align=center>  {{ planning.dejeuner }} </td>
                <td align=center>  {{ planning.petitDejeuner }} </td>
                <td align=center>  {{ planning.diner }} </td>
                {#<td><a href="{{ path('modifierTraitement',{'id':planning.id}) }}">Modifier</a></td>#}
                {#<td><a href="{{ path('supprimerTraitement',{'id':planning.id}) }}"#}
                       {#onclick="return confirm('Etes-vous sur de vouloir supprimer ?');">Supprimer</a></td>#}
                <td>
                    <a href="{{ path('modifierTraitement',{'id':planning.id}) }}">
                        <button class="btn btn-warning">
                            <span class="fa fa-edit"></span>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('supprimerTraitement',{'id':planning.id}) }}"
                       onclick="return confirm('Etes-vous sur de vouloir supprimer ?');">
                        <button class="btn btn-danger">
                            <span class="fa fa-trash"></span>
                        </button>
                    </a>
                </td>

            </tr>
        {% endfor %}
    </table>

    <br><br><br><br><br>



{% endblock %}
