{% extends "back/base.html.twig" %}

{% block title %}GestionAgeeBundle:Planning_visite_medicale:Modifier{% endblock %}

{% block content %}
<br>

    <style>
        .error{
            color: #ff6c5f;
            border-color: #ff6c5f;
        }
    </style>

    <h1 style="text-align: center ; font-size: 30px">Modifier Traitement Médical</h1><br>


    <div style="text-align: center ; width: 50% ; margin-left: 25%">
        <fieldset>


            {{ form_start(form, {'attr':{'id':'traitementForm'}}) }}
            {{ form_row(form.idAgee,{'label':'Âgée :','attr':{'class':'form-control'}}) }}</br>
            {{ form_row(form.nomMedicament, {'label':'Nom du Médicament','attr':{'class':'form-control'}}) }}</br>
            {{ form_row(form.traitementDesc, {'label':'Description du Traitement','attr':{'class':'form-control','style':'resize: vertical; height: 80px;'}}) }}</br>
            {{ form_row(form.dureeEnJourDeTraitement, {'label':'Duree En Jour De Traitement','attr':{'class':'form-control'}}) }}</br>
            {{ form_row(form.dejeuner, {'label':'Dejeuner','attr':{'class':'form-control'}}) }}</br>
            {{ form_row(form.petitDejeuner, {'label':'Petit Dejeuner','attr':{'class':'form-control'}}) }}</br>
            {{ form_row(form.diner, {'label':'Diner','attr':{'class':'form-control'}}) }}</br>
            {{ form_widget(form.save, { 'label': 'save' ,'attr':{'class':'btn btn-success '}}) }}</br>
            {{ form_end(form) }}
        </fieldset>
    </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <script>
        $('#traitementForm').validate({
            rules: {
                "gestionageebundle_planning_traitement_medical[idAgee]":{
                    required: true
                },
                "gestionageebundle_planning_traitement_medical[nomMedicament]":{
                    required: true
                },
                "gestionageebundle_planning_traitement_medical[traitementDesc]":{
                    required: true
                },
                "gestionageebundle_planning_traitement_medical[dureeEnJourDeTraitement]":{
                    required: true,
                    digits: true,
                    min: 1
                },
                "gestionageebundle_planning_traitement_medical[dejeuner]":{
                    required: true
                },
                "gestionageebundle_planning_traitement_medical[petitDejeuner]":{
                    required: true
                },
                "gestionageebundle_planning_traitement_medical[diner]":{
                    required: true
                }

            },
            messages: {
                "gestionageebundle_planning_traitement_medical[idAgee]":{
                    required: "Veuillez choisir l'Agée"
                },
                "gestionageebundle_planning_traitement_medical[nomMedicament]":{
                    required: "Veuillez saisir un nom du médicament"
                },
                "gestionageebundle_planning_traitement_medical[traitementDesc]":{
                    required: "Veuillez saisir une description"
                },
                "gestionageebundle_planning_traitement_medical[dureeEnJourDeTraitement]":{
                    required: "Veuillez indiquer le nombre des jours",
                    digits: "Veuiller saisir un nombre valide",
                    min: "Veuiller saisir un nombre supérieur à 0"
                },
                "gestionageebundle_planning_traitement_medical[dejeuner]":{
                    required: "Veuillez selectionner un choix"
                },
                "gestionageebundle_planning_traitement_medical[petitDejeuner]":{
                    required: "Veuillez selectionner un choix"
                },
                "gestionageebundle_planning_traitement_medical[diner]":{
                    required: "Veuillez selectionner un choix"
                }
            }
        });
    </script>
{% endblock %}
