{% extends "back/base.html.twig" %}

{% block title %}GestionAgeeBundle:Planning_visite_medicale:Supprimer{% endblock %}

{% block body %}
<h1>Welcome to the Planning_visite_medicale:Supprimer page</h1>
{% endblock %}
