<head>

    <title>Glance Design Dashboard an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricssBon, Motorola web design" />

    <style>
        .header-left{
            width: 30% !important;
        }
    </style>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- Bootstrap Core CSSB -->
    <link href="{{ asset('cssB/bootstrap.css') }}" rel='stylesheet' type='text/css' />

    <!-- Custom CSSB -->
    <link href="{{ asset('cssB/style.css') }}" rel='stylesheet' type='text/css' />

    <!-- font-awesome icons CSSB -->
    <link href="{{ asset('cssB/font-awesome.css') }}" rel="stylesheet">
    <!-- //font-awesome icons CSSB-->

    <!-- side nav cssB file -->
    <link href="{{ asset('cssB/SidebarNav.min.css') }}" media='all' rel='stylesheet' type='text/css'/>
    <!-- //side nav css file -->

    <!-- jsB-->
    <script src="{{ asset('jsB/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('jsB/modernizr.custom.js') }}"></script>

    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!--//webfonts-->

    <!-- chart -->
    <script src="{{ asset('jsB/Chart.js') }}"></script>
    <!-- //chart -->

    <!-- Metis Menu -->
    <script src="{{ asset('jsB/metisMenu.min.js') }}"></script>
    <script src="{{ asset('jsB/custom.js') }}"></script>
    <link href="{{ asset('cssB/custom.css') }}" rel="stylesheet">
    <!--//Metis Menu -->
    <style>
        #chartdiv {
            width: 100%;
            height: 295px;
        }
    </style>
    <!--pie-chart --><!-- index page sales reviews visitors pie chart -->
    <script src="{{ asset('jsB/pie-chart.js') }}" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#2dde98',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#8e43e7',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ffc168',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });

    </script>
    <!-- //pie-chart --><!-- index page sales reviews visitors pie chart -->

    <!-- requried-jsBfiles-for owl -->
    <link href="{{ asset('cssB/owl.carousel.css') }}" rel="stylesheet">
    <script src="{{ asset('jsB/owl.carousel.js') }}"></script>
    <script>
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({
                items : 3,
                lazyLoad : true,
                autoPlay : true,
                pagination : true,
                nav:true,
            });
        });
    </script>
    <!-- //requried-jsBfiles-for owl -->
</head>