<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <!--left-fixed -navigation-->
    <aside class="sidebar-left">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand" href="{{ path('back') }}"><span class="fa fa-area-chart"></span> Happy<span class="dashboard_text">Olds</span></a></h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="sidebar-menu">
                    <li class="header"></li>
                    <li class="treeview">
                        <a href="{{ path('ajouter') }}">
                            <i class="fa fa-calendar-plus-o"></i> <span>Ajouter un RDV</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="{{ path('afficher') }}">
                            <i class="fa fa-calendar"></i> <span>Liste des RDV</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="{{ path('ajouterTraitement') }}">
                            <i class="fa fa-medkit"></i> <span>Ajouter Traitement</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="{{ path('afficherTraitement') }}">
                            <i class="fa fa-list"></i> <span>Liste Des Traitements</span>
                        </a>
                    </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </aside>
</div>
<!--left-fixed -navigation-->