<!DOCTYPE HTML>
<html>
{% include 'back/_head.html.twig' %}
<body class="cbp-spmenu-push">
<div class="main-content">
    {% include 'back/_left_navigation.html.twig' %}
    {% include 'back/_top_header.html.twig' %}
    <div id="page-wrapper">
        <div class="main-page">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include 'back/_footer.html.twig' %}
    {% include 'back/_stylesheets.html.twig' %}
</div>
{% include 'back/_scripts.html.twig' %}
</body>
</html>