{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <br><br><br><br><br><br><br>    <br><br><br>

    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>


{% endblock fos_user_content %}
