{% trans_default_domain 'FOSUserBundle' %}
<br><br><br><br><br><br>
<div class="art-bothside">
    <div class="sap_tabs">
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                <li class="resp-tab-item"><span>Register</span></li>
            </ul>
            <div class="clearfix"></div>
            <div class="resp-tabs-container">
                <div class="tab-1 resp-tab-content">
                    <div class="swm-right-w3ls">
                        {{ form_start(form, {'attr': {'id': 'registerForm', 'autocomplete' : 'off'}}) }}
                        <div class="form-left-to-w3l">
                            <i class="fa fa-user icon"></i> {{ form_row(form.nom) }}
                            <div id="block-erreur-nom" class="hide" style="color: red; margin-bottom: 15px;"></div>
                            <i class="fa fa-user icon"></i>{{ form_row(form.prenom) }}
                            <div id="block-erreur-prenom" class="hide" style="color: red; margin-bottom: 15px;"></div>
                            <i class="fa fa-envelope icon"></i>{{ form_row(form.email) }}<br>
                            <div id="block-erreur-email" class="hide" style="color: red; margin-bottom: 15px; margin-top: -15px;"></div>
                            {{ form_row(form.username) }}<br>
                            <div id="block-erreur-username" class="hide" style="color: red; margin-bottom: 15px; margin-top: -15px;"></div>
                            {{ form_row(form.cin) }}<br>
                            <div id="block-erreur-cin" class="hide" style="color: red; margin-bottom: 15px; margin-top: -15px;"></div>
                            {{ form_row(form.datenaissance) }}<br>
                            <div id="block-erreur-date" class="hide" style="color: red; margin-bottom: 15px;"></div>
                            {{ form_row(form.sexe) }}<br>
                            <div id="block-erreur-sexe" class="hide" style="color: red; margin-bottom: 15px;"></div>
                            {{ form_row(form.region) }}<br>
                            <div id="block-erreur-region" class="hide" style="color: red; margin-bottom: 15px;"></div>
                            {{ form_row(form.adresse) }}<br>
                            <div id="block-erreur-adresse" class="hide" style="color: red; margin-bottom: 15px;"></div>
                            {{ form_row(form.telephone) }}<br>
                            <div id="block-erreur-telephone" class="hide" style="color: red; margin-bottom: 15px;"></div>
                            {{ form_row(form.rib) }}<br>
                            <div id="block-erreur-rib" class="hide" style="color: red; margin-bottom: 15px;"></div>
                            {{ form_row(form.roles) }}<br>
                            <div id="block-erreur-role" class="hide" style="color: red; margin-bottom: 15px;"></div>
                            {{ form_row(form.plainPassword) }}
                            <div id="block-erreur-password" class="hide" style="color: red; margin-bottom: 15px;"></div>
                            <div id="block-erreur-password-confirm" class="hide" style="color: red; margin-bottom: 15px;"></div>
                        </div>
                        <div class="btnn">
                            <button id="submitRegister" style="width: 36%; margin-left: 32%; margin-bottom: 10px;"
                                    class="btn btn-danger btn-block" type="button"
                                    value="{{ 'registration.submit'|trans }}">Register
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<br><br><br><br><br><br><br>

