.simply-countdown-custom {
  overflow: hidden;
  display: table;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.simply-countdown-custom>.simply-section {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  margin: 15px;
  background: none;
  color: #fff;
  font-size: 1em;
}

.simply-countdown-custom>.simply-section .simply-amount,
.simply-countdown-custom>.simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-countdown-custom>.simply-section .simply-amount {
  font-weight: 700;
  font-size: 3.5em;
}

.simply-countdown-custom>.simply-section .simply-word {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
}

/*----*/

@media(max-width:991px) {
  .simply-countdown-custom>.simply-section .simply-amount {
    font-size: 2.5em;
  }
  .simply-countdown-custom>.simply-section {
    width: 80px;
    height: 80px;
    margin: 10px;
  }
}

@media(max-width:480px) {
  .simply-countdown-custom>.simply-section .simply-amount {
    font-size: 2em;
  }
  .simply-countdown-custom>.simply-section {
    width: 70px;
    height: 70px;
    margin: 5px;
  }
  .simply-countdown-custom>.simply-section .simply-word {
    font-size: 0.7em;
  }
}

@media(max-width:414px) {
  .simply-countdown-custom>.simply-section {
    width: 50px;
    height: 50px;
    margin: 5px;
  }
}

/*----*/