{% trans_default_domain 'FOSUserBundle' %}
<br><br><br><br>


{#<form action="{{ path("fos_user_security_check") }}" method="post">#}
    {#{% if csrf_token %}#}
        {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>#}
    {#{% endif %}#}

    {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
    {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required"#}
           {#autocomplete="username"/>#}

    {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
    {#<input type="password" id="password" name="_password" required="required" autocomplete="current-password"/>#}

    {#<input type="checkbox" id="remember_me" name="_remember_me" value="on"/>#}
    {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

    {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>#}
{#</form>#}


<br><br><br>
<form action="{{ path("fos_user_security_check") }}" method="post" id="loginForm">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}
<div class="art-bothside">

    <div class="sap_tabs">
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                <li class="resp-tab-item"><span>Login</span></li>
            </ul>
            <div class="clearfix"></div>
            {% if error %}
                <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="resp-tabs-container">
                <div class="tab-1 resp-tab-content">
                    <div class="swm-right-w3ls">

                        <div class="form-left-to-w3l">
                            <i class="fa fa-user icon"></i> {{ 'security.login.username'|trans }}<br>
                            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
                                   required="required" autocomplete="username"/><br>
                            <div id="block-erreur-username" class="hide" style="color: red; margin-bottom: 15px; margin-top: -15px;"></div>
                            {{ 'security.login.password'|trans }}<br>
                            <input class="form-control" type="password" id="password" name="_password" required="required"
                                   autocomplete="current-password"/><br>
                            <div id="block-erreur-password" class="hide" style="color: red; margin-bottom: 15px; margin-top: -15px;"></div>
                            {{ 'security.login.remember_me'|trans }}<br>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/><br>
                        </div>

                        <div class="btnn">

                        </div>
                        <input type="button" class="submitLogin" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</form>

<br><br><br>
