<ul id="notifications" class="dropdown-menu notification-div"
    style="width: 350px; padding: 5px 0px 0px 0px; max-height: 300px; height: 300px; overflow-y: auto;">

    <div class="pull-left" style="font-weight: bold; margin-top: 5px; margin-left: 10px;">Notifications :</div>
    {% if notificationList|length > 0 %}
        <div class="pull-right">
            <button onclick="mark_all_as_seen();" class="btn customButton" type="button"
                    style="font-size: 10px; margin-right: 5px;"><span
                        class="fa fa-check"></span> Mark all as seen
            </button>
        </div>
    {% endif %}
    <div class="clearfix"></div>
    <hr style="margin: 4px !important;">

    {% for item in notificationList %}
        <li class="{% if not item.seen %}active{% endif %}">
            <div class="pull-right">
                {% if not item.seen %}
                <button onclick="mark_as_seen{{ item.id }}()" style="font-size: 10px;" class="btn customButton"
                        type="button">
                    <span class="fa fa-check"></span>
                </button>
                {% endif %}
            </div>
            <div class="pull-left" style="width: 85%;"><span>{{ item.notification }}</span></div>
            <br>

            <div class="clearfix"></div>
            <script>
                function mark_as_seen{{ item.id }}() {
                    $.ajax({
                        url: "{{ mgilet_notification_generate_path('notification_mark_as_seen', item.notifiableEntity, item.notification) }}",
                        method: "post",
                        success: function (data) {
                            $("#notifications").load(location.href+" #notifications>*","");
                            $("#notification-number-wrapper").load(location.href+" #notification-number");
                        }
                    });
                }
            </script>
        </li>
    {% endfor %}
</ul>

{% if notificationList|length > 0 %}
<script>
    function mark_all_as_seen() {
        $.ajax({
            url: "{{ mgilet_notification_generate_path('notification_mark_all_as_seen', notificationList|first.notifiableEntity) }}",
            method: "post",
            success: function (data) {
                $("#notifications").load(location.href+" #notifications>*","");
                $("#notification-number-wrapper").load(location.href+" #notification-number");
            }
        });
    }
</script>
{% endif %}

