<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script src="{{ asset('js/rechercheTable/table.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
<!-- script for responsive tabs -->
<script src="{{ asset('js/easy-responsive-tabs.js') }}"></script>
<script src={{ asset('js/jquery-2.2.3.minLogin.js') }}></script>
<script src={{ asset('js/easyResponsiveTabsLogin.js') }}></script>
<script>
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
</script>
<!--// script for responsive tabs -->
<script src="{{ asset('js/responsiveslides.min.js') }}"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: false,
            speed: 500,
            namespace: "callbacks",
            timeout: 2000,
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<script type="text/javascript" src="{{ asset('js/all.js') }}"></script>
<script>
    $('ul.dropdown-menu li').hover(function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
</script>

<!-- js -->
<link href="{{ asset('css/simplyCountdown.css') }}" rel='stylesheet' type='text/css'/>

<!--js-->
{#<!--/tooltip -->#}
{#<script>#}
    {#$(function () {#}
        {#$('[data-toggle="tooltip"]').tooltip({#}
            {#trigger: 'manual'#}
        {#}).tooltip('show');#}
    {#});#}

    {#// $( window ).scroll(function() {#}
    {#// if($( window ).scrollTop() > 10){  // scroll down abit and get the action#}
    {#$(".progress-bar").each(function () {#}
        {#each_bar_width = $(this).attr('aria-valuenow');#}
        {#$(this).width(each_bar_width + '%');#}
    {#});#}

    {#//  }#}
    {#// });#}
{#</script>#}
{#<!--//tooltip -->#}
<!-- Smooth-Scrolling-JavaScript -->
<script type="text/javascript" src="{{ asset('js/easing.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/move-top.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll, .navbar li a, .footer li a").click(function (event) {
            if($(this).hasClass('scroll')) {
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            }
        });
    });
</script>
<!-- //Smooth-Scrolling-JavaScript -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
                                var defaults = {
                                      containerID: 'toTop', // fading element id
                                    containerHoverID: 'toTopHover', // fading element hover id
                                    scrollSpeed: 1200,
                                    easingType: 'linear'
                                 };
                                */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>


<a href="#home" class="scroll" id="toTop" style="display: block;">
    <span id="toTopHover" style="opacity: 1;"> </span>
</a>

<!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
<script type="text/javascript" src="{{ asset('js/jquery-1.7.2.js') }}"></script>
<script src="{{ asset('js/jquery.quicksand.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/jquery.prettyPhoto.js') }}" type="text/javascript"></script>
<!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->

<script>
    $(document).ready(function () {
        $('.userRole').removeAttr('multiple');
    });
</script>



{#script calendar begin#}

{#<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>#}
{#<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>#}
{#<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>#}
{#<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.default-settings.js') }}"></script>#}

{#script calendar end#}


<script>
    $('.dropdown-menu').on("click.bs.dropdown", function (e) { e.stopPropagation(); e.preventDefault(); });
</script>
<script src="{{ asset('js/controle-saisie/register.js') }}"></script>
<script src="{{ asset('js/controle-saisie/login.js') }}"></script>


