<style>

    .customButton:hover {
        background-color: #ff4c00 !important;
        color: white;
    }

    .notification-div > li {
        border-bottom: 1px solid #ccc;
        padding: 20px 10px 20px 10px;
    }

    .notification-div > li.active {
        background-color: #ffd8a875;
        font-weight: bold;
    }
</style>

<div class="top_header" id="home">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="nav_top_fx_w3layouts_agileits">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo_wthree_agile">
                    <h1>
                        <a style="font-size: 15px;" class="navbar-brand" href="{{ path ('homepage') }}">
                            <i class="fas fa-heart" aria-hidden="true"></i> Happy Olds
                            <span style="font-size: 0.6em;" class="desc">Give a little. Help a lot.</span>
                        </a>
                    </h1>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="nav_right_top">
                    <ul class="nav navbar-nav">

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li id="notifications-dropdown" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false"
                                   style="padding-bottom: 32px; padding-left: 25px;">
                                    <span style="font-size: 19px;" class="fa fa-bell"></span>
                                    <span class="caret"></span>
                                    <div id="notification-number-wrapper">
                                        <div id="notification-number">
                                            {% if  mgilet_notification_unseen_count(app.user)  != 0 %}
                                                <span style="border-radius: 50%; background-color: red; color: white; padding: 2px 5px 1px 7px; position: absolute; top: 10px; left: 5px;">{{ mgilet_notification_unseen_count(app.user) }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                                {% if app.user is defined and app.user!=null %}
                                    {{ mgilet_notification_render(app.user,{ 'template': 'front/_notification.html.twig'}) }}
                                {% endif %}
                            </li>
                            <li class="{% if app.request.pathinfo == '/afficherVisiteAgee' %} active {% endif %}">
                                <a href="{{ path ('afficherVisiteAgee') }}">RDV</a>
                            </li>
                            <li class="{% if app.request.pathinfo == '/afficherTraitementAgee' %} active {% endif %}">
                                <a href="{{ path ('afficherTraitementAgee') }}">Traitement</a>
                            </li>
                        {% endif %}


                        {#<li class="{% if app.request.pathinfo == '/' %} active {% endif %}">#}
                            {#<a href="{{ path ('homepage') }}">Home</a>#}
                        {#</li>#}
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="{% if app.request.pathinfo == '/login' %} active {% endif %}">
                                <a href="{{ path ('fos_user_security_login') }}">Login</a>
                            </li>

                            <li class="{% if app.request.pathinfo == '/register/' %} active {% endif %}">
                                <a href="{{ path ('fos_user_registration_register') }}">Register</a>
                            </li>
                        {% endif %}
                        <li class="{% if app.request.pathinfo == '/about' %} active {% endif %}">
                            <a href="{{ path ('about') }}">About</a>
                        </li>
{#                        <li>#}
{#                            <a class="scroll" href="#contact">Contact</a>#}
{#                        </li>#}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                            </li>
                        {% endif %}


                    </ul>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="clearfix"></div>


</div>


