<!DOCTYPE html>
<html>
{% include 'front/_head.html.twig' %}
<body>
	{% include 'front/_top_header.html.twig' %}
	{% block content %}{% endblock %}
    {% include 'front/_scripts.html.twig' %}
    {% include 'front/_footer.html.twig' %}
    {#{% include 'front/_stylesheets.html.twig' %}#}
</body>
</html>



