{% extends "back/base.html.twig" %}

{% block title %}GestionAgeeBundle:Planning_visite_medicale:Afficher{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <style>

        .table {
            border: 2px solid #FFFFFF !important;

        }

        .table th {
            border: 2px solid #FFFFFF !important;
        }

        .table td {
            border: 2px solid #FFFFFF !important;
        }


        .table tbody > tr:hover {
            background-color: #2dde98;
        }

    </style>




    <h1 style="text-align: center ; font-size: 30px">Planning des visites medicales</h1><br><br>

    <table class="table table-bordered" id="myTable">

        <thead style="background-color: #629aa9">
            <tr>
                <th>Nom Agee</th>
                <th>Prenom Agee</th>
                <th>CIN</th>
                <th>Date du RDV</th>
                <th>Heure du RDV</th>
                <th>Modif</th>
                <th>Suppr</th>
                <th>Certif</th>
                <th>Certif</th>
            </tr>
        </thead>

        <tbody>
        {% for planning in plannings %}
            <tr>
                {#<td align=center>  {{ planning.id }} </td>#}
                <td align=center>  {{ planning.idAgee.nom }} </td>
                <td align=center>  {{ planning.idAgee.prenom }} </td>
                <td align=center>  {{ planning.idAgee.cin }} </td>
                <td align=center>  {{ planning.dateRdv|date('d-m-Y') }} </td>
                <td align=center>  {{ planning.dateRdv|date('H:i:s') }} </td>
                <td>
                    <a href="{{ path('modifier',{'id':planning.id}) }}">
                        <button class="btn btn-warning">
                            <span class="fa fa-edit"></span>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('supprimer',{'id':planning.id}) }}"
                       onclick="return confirm('Etes-vous sur de vouloir supprimer ?');">
                        <button class="btn btn-danger">
                            <span class="fa fa-trash"></span>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('pdf3',{'id':planning.id}) }}" target="_blank">
                        <button class="btn btn-primary">
                            <span class="fa fa-file-pdf-o"></span>
                        </button>
                    </a>
                </td>
                <td><a href="{{ path('pdf') }}" target="_blank">
                        <button class="btn btn-primary">
                            <span class="fa fa-file-pdf-o"></span>
                        </button>
                    </a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


    <br><br><br>

    <h1 style="text-align: center ; font-size: 30px">Calendrier des visites medicales</h1><br><br>

    <br>



    {% include '@FullCalendar/Calendar/calendar.html.twig' %}

{% endblock %}
