{% extends "back/base.html.twig" %}

{% block title %}GestionAgeeBundle:Planning_visite_medicale:Ajouter{% endblock %}

{% block content %}



    <style>
        .error{
            color: #ff6c5f;
            border-color: #ff6c5f;
        }
    </style>
            <br><br><br><br>

            <h1 style="text-align: center ; font-size: 30px">Ajouter Visite Médicale</h1><br><br>


            <div style="text-align: center ; width: 50% ; margin-left: 25%">
                <fieldset >
                    {{ form_start(form, {'attr':{'id':'RDVForm'}}) }}
                    {{ form_row(form.idAgee,{'label':'Âgée :','attr':{'class':'form-control'}}) }}</br>
                    {{ form_row(form.dateRdv, {'label':'Date :'}) }}</br>
                    {{ form_widget(form.save, { 'label': 'save' ,'attr':{'class':'btn btn-success '}}) }}</br>
                    {{ form_end(form) }}
                </fieldset>
            </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>

<script>
    $('#RDVForm').validate({
        rules:{
            "gestionageebundle_planning_visite_medicale[idAgee]":{
                required: true
            }
        },
        messages: {
            "gestionageebundle_planning_visite_medicale[idAgee]": {
                required: "Veuillez choisir l'Agée"
            }
        }
    });
</script>

{% endblock %}
