{% extends "front/base.html.twig" %}

{% block title %}
    <center>Planning des visites medicales</center>{% endblock %}

{% block content %}











    <!-- banner -->
    <div class="banner_top">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>Change Begins With You.</h3>


                        </div>
                    </div>
                </div>
                <div class="item item2">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>Make good things happen</h3>


                        </div>
                    </div>
                </div>
                <div class="item item3">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>Change Begins With You.</h3>


                        </div>
                    </div>
                </div>
                <div class="item item4">
                    <div class="container">
                        <div class="carousel-caption">


                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="fa fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!-- The Modal -->
        </div>
    </div>











    <style>

        body {
            background-color: #F1F1F1;
        }

        #planning {
            background-color: #FAFAFA;
            width: 90%;
            margin-left: 5%;
            padding: 15px;
        }

        .table {
            border: 2px solid #629aa9 !important;

        }

        .table th {
            border: 2px solid #629aa9 !important;
        }

        .table td {
            border: 2px solid #629aa9 !important;
        }

    </style>









    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">


    <br><br><br><br><br><br><br><br><br><br><br>

    <br>
    <br>

    <div id="planning" >
            <h1 style="text-align: center ; font-size: 30px"  >Planning des Traitements médicaux</h1>
        <br><br>
        <table class="table table-bordered" id="myTable">

            <th>Nom Agee</th>
            <th>Prenom Agee</th>
            <th>CIN</th>
            <th>Nom Du Medicament</th>
            <th>Description Du traitement</th>
            <th>Durée du traitment (jour)</th>
            <th>Dejeuner</th>
            <th>Petit-Dejeuner</th>
            <th>Diner</th>


            {% for planning in plannings %}
                <tr>
                    {#<td align=center>  {{ planning.id }} </td>#}
                    <td align=center>  {{ planning.idAgee.nom }} </td>
                    <td align=center>  {{ planning.idAgee.prenom }} </td>
                    <td align=center>  {{ planning.idAgee.cin }} </td>
                    <td align=center>  {{ planning.nomMedicament }} </td>
                    <td align=center>  {{ planning.traitementDesc }} </td>
                    <td align=center>  {{ planning.dureeEnJourDeTraitement }} </td>
                    <td align=center>  {{ planning.dejeuner }} </td>
                    <td align=center>  {{ planning.petitDejeuner }} </td>
                    <td align=center>  {{ planning.diner }} </td>


                </tr>
            {% endfor %}
        </table>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br>



{% endblock %}
